absl-py==0.10.0
aiohttp==3.6.3
aiotask-context==0.6.1
alabaster==0.7.12
alembic==0.8.10
altair==4.1.0
Anemone==0.0.1
aniso8601==8.0.0
apache-libcloud==3.2.0
apiclient==1.0.4
appdirs==1.4.4
APScheduler==3.6.3
asgiref==3.3.0
asn1crypto==1.4.0
astor==0.8.1
astroid==2.4.2
async-timeout==3.0.1
asyncpg==0.21.0
attrs==20.2.0
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
backports.weakref==1.0rc1
base58==2.0.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
bleach==1.5.0
blinker==1.4
Bootstrap-Flask==1.5
boto3==1.15.16
botocore==1.18.16
Brotli==1.0.9
bs4==0.0.1
CacheControl==0.12.6
cached-property==1.5.2
cachetools==3.1.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==6.7
cloudpickle==1.6.0
colorama==0.4.3
colour==0.1.5
constantly==15.1.0
coverage==5.1
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.14
data==0.4
dataclasses==0.7
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
discovery==0.0.4
distlib==0.3.0
distro==1.5.0
Django==3.0.6
dnspython==1.16.0
docker==4.3.1
docker-compose==1.27.4
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
email-validator==1.1.1
entrypoints==0.3
enum-compat==0.0.3
enum34==1.1.6
facebook-scraper==0.1.12
fake-useragent==0.1.11
Faker==4.0.3
ffmpeg==1.4
filelock==3.0.12
firebase==3.0.1
firebase-admin==4.3.0
firebase-orm==0.1.29
fireo==1.3.3
fireorm==0.0.14
Flask==0.12
Flask-Avatars==0.2.2
Flask-BabelEx==0.9.3
Flask-BasicAuth==0.2.0
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-DebugToolbar==0.10.1
Flask-Dropzone==1.5.4
Flask-JWT==0.3.2
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
Flask-Moment==0.9.0
Flask-RESTful==0.3.8
Flask-Script==2.0.5
Flask-Sendmail==0.1
Flask-Session==0.3.1
Flask-SocketIO==4.3.0
Flask-SQLAlchemy==2.1
flask-whooshee==0.7.0
Flask-WTF==0.14.2
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
gcloud==0.18.3
google-api-core==1.17.0
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-firestore==1.7.0
google-cloud-storage==1.28.1
google-resumable-media==0.5.1
googleapis-common-protos==1.51.0
googletrans==2.4.0
graphviz==0.13.2
grpcio==1.26.0
gspread==3.6.0
guillotina==4.9.6
gunicorn==19.7.1
gym==0.17.3
h11==0.9.0
h2==3.2.0
h5py==2.10.0
heart==0.1.0
hpack==3.0.0
html5lib==0.9999999
httplib2==0.12.3
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.10
idna-ssl==1.1.0
imageio==2.6.1
imagesize==1.2.0
importlib-metadata==1.6.0
importlib-resources==1.5.0
incremental==17.5.0
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.20
itsdangerous==0.24
jedi==0.17.0
Jinja2==2.9.5
jmespath==0.10.0
joblib==0.15.1
jsonmodels==2.4
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jwcrypto==0.8
jws==0.1.3
jwt==1.0.0
kaitaistruct==0.8
Keras==2.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
langdetect==1.0.8
latex==0.7.0
lazy-object-proxy==1.5.1
ldap3==2.7
lru-dict==1.1.6
lxml==4.5.0
Mako==1.0.6
Markdown==3.1.1
MarkupSafe==0.23
matplotlib==3.3.2
mccabe==0.6.1
mechanize==0.4.5
mistune==0.8.4
mitmproxy==5.1.1
msgpack==1.0.0
multidict==4.7.6
nbconvert==5.6.1
nbformat==5.0.7
ndg-httpsclient==0.5.1
network==0.1
networkx==2.5
nibabel==3.1.1
nltk==3.5
node==0.9.25
nodemcu-uploader==0.4.3
nose==1.3.7
notebook==6.0.3
numpy==1.19.2
oauth2client==4.1.2
oauthlib==3.1.0
odict==1.7.0
opencv-python==3.4.2.17
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
paramiko==2.7.2
parse==1.15.0
parsel==1.6.0
parso==0.7.0
passlib==1.7.2
pathtools==0.1.2
peewee==3.13.3
pep8==1.7.1
pickleshare==0.7.5
Pillow==8.0.0
pip-review==1.1.0
pkginfo==1.5.0.1
plotly==4.8.1
pluggy==0.13.1
plumber==1.5
pprint==0.1
progressbar==2.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.12.2
psutil==5.7.2
psycopg2==2.8.5
psycopg2-binary==2.8.5
publicsuffix2==2.20191221
pusher==2.1.4
py==1.8.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.20
pycryptodome==3.9.7
pydeck==0.4.0b2
PyDispatcher==2.0.5
pydivert==2.1.0
pydot==1.2.3
pydot-ng==2.0.0
PyDrive==1.3.1
PyDrive2==1.4.14
pyee==7.0.1
pygame==1.9.6
pyglet==1.5.0
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint==2.3.1
pymongo==3.11.0
PyNaCl==1.4.0
pynput==1.6.8
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyperclip==1.8.0
pyppeteer==0.0.25
pyquery==1.4.1
Pyrebase==3.0.27
Pyrebase4==4.3.0
pyrsistent==0.16.0
pyserial==3.4
PySocks==1.7.1
pytest==3.0.5
pytest-cov==2.5.1
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.3
python-engineio==3.13.0
python-http-client==3.2.7
python-jwt==2.0.1
python-socketio==4.6.0
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3
pyzmq==19.0.1
queuelib==1.5.0
RandString==1.0.2
regex==2020.5.14
requests==2.24.0
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==0.22.1
scipy==1.5.2
Scrapy==2.1.0
Send2Trash==1.5.0
sendgrid==5.2.0
service-identity==18.1.0
shutilwhich==1.1.0
SimpleITK==2.0.0
six==1.10.0
sklearn==0.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
soupsieve==2.0.1
sox==1.3.7
speaklater==1.3
Sphinx==1.6.3
sphinxcontrib-websupport==1.2.2
SQLAlchemy==1.3.19
sqlparse==0.3.1
streamlit==0.61.0
style==1.1.0
tempdir==0.7.1
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
texttable==1.6.3
tifffile==2020.9.3
toml==0.10.1
tonicapp-users==0.0.4
toolz==0.10.0
torch==1.6.0
torchvision==0.7.0
tornado==5.1.1
tox==2.5.0
tqdm==4.46.0
traitlets==4.3.3
treelib==1.6.1
tweepy==3.8.0
twine==1.9.1
Twisted==20.3.0
twython==3.8.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.1
update==0.0.1
uritemplate==3.0.0
urllib3==1.25.10
urwid==2.1.0
vaderSentiment==3.3.1
validators==0.15.0
virtualenv==20.0.18
w3lib==1.21.0
watchdog==0.10.2
wcwidth==0.2.4
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==0.11.15
Whoosh==2.7.4
widgetsnbextension==3.5.1
wrapt==1.12.1
wsproto==0.15.0
WTForms==2.2.1
wxPython==4.1.0
yarl==1.5.1
zipp==3.1.0
zope.component==4.6.1
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==5.1.0
zope.lifecycleevent==4.3
zope.proxy==4.3.5
zstandard==0.13.0
